h1 {
  font-family: "Montserrat", sans-serif;
}

.complete {
  background-color: rgb(50, 198, 230);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
}

.pending {
  background-color: white;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
}

.tbInfo {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}
